<section id="sessions-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1><%= flash[:title] %></h1>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-8 message-container">
          <p><%= flash[:notice] %></p>
          <%= link_to "OK", root_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</section>
