<section id="sessions-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>Login</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 form-container">
        <%= form_with(url: login_path, scope: :session) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control", "aria-describedby": "emailHelp" %>
            <div id="emailHelp" class="form-text">If the email exists, a login link will be emailed to you.</div>
            </div>
          </div>
          <div class="mb-3">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
