<section id="sessions-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>Log in with email</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 form-container">
        <%= form_with(url: login_path, scope: :session) do |f| %>
        <div class="mb-3">
          <p>Enter the email address associated with your account, and we'll send a magic link to your inbox.</p>
        </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control", "aria-describedby": "emailHelp" %>
            <div id="emailHelp" class="form-text">
              There is one account and no sign up.
            </div>
          </div>
          
          <div class="mb-3">
            <%= f.submit "Continue", class: "btn btn-primary" %>
          </div>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
