<!-- ========== banner-section start============= -->

<%= render "sections/banner" %>

<!-- ========== banner-section end============= -->

<!-- ========== about-me start============= -->

<%= render "sections/about" %>

<!-- ========== about-me end============= -->

<!-- ========== portfolio start============= -->

<%= render "sections/portfolio" %>

<!-- ========== portfolio end============= -->

<!-- ========== contact-section start============= -->

<%= render "sections/contact" %>

<!-- ==========contact-section end============= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright">© 2023 <a href="https://github.com/overdrivemachines">Dipen Chauhan</a></div>
      </div>
    </div>
  </div>
</footer>
