<section id="home-page">
  <span class="tags top-tags">&lt;body&gt;</span>

  <div class="container">
    <div class="row">
      <div class="col-md-5 text-zone">
        <h1>
          Hi,<br>
          I'm Dipen Chauhan<br>
          Web Developer.
        </h1>
        <h2>
          Back End Developer / Ruby on Rails Expert / Arduino Enthusiast
        </h2>

      </div>
      <div class="col-md-5 my-pic">
        <%= image_tag("me.jpg") %>
      </div>
    </div>
  </div>

  <span class="tags bottom-tags">&lt;/body&gt;<br><span class="bottom-tag-html">&lt;/html&gt;</span></span>
</section>
