<section id="home-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-zone">
        <h1>
          Hi,<br>
          I'm Dipen Chauhan<br>
          Web Developer.
        </h1>
        <h2>
          Back End Developer / Ruby on Rails Expert / Arduino Enthusiast
        </h2>
        <button class="btn btn-primary mt-3">Hire Me</button>

      </div>
      <div class="col-md-6 my-pic">
        <%= image_tag("me.jpg") %>
      </div>
    </div>
  </div>
</section>
