<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>My Portfolio</h1>
        <div class="sub">
          <h2>A collection of my favorite projects I have worked on recently. I
            feel great to share them here.</h2>
        </div>
      </div>
    </div>

    <ul class="filter-list">
      <li class="filter active">All</li>
      <li class="filter">Ruby on Rails</li>
      <li class="filter">JavaScript</li>
      <li class="filter">C++</li>
    </ul>

    <div class="porfolio-gallery">
      <div class="row">
        <div class="col-md-6 col-lg-4 project-container">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt="Card image cap"
            >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up
                the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">This is a ver vewry long project title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
          <div class="project-description">
            This is a short description for project 1
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-4.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">Project 2</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
          <div class="project-description">
            This is a short description for project 2
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">Project 2 Title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">This is a ver vewry long project title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">This is a ver vewry long project title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">This is a ver vewry long project title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
        </a>
        <a
          class="col-md-6 col-lg-4 project-container"
          data-project-type="rails"
          href="#"
        >
          <figure>
            <img
              src="https://harnishdesign.net/demo/html/simone/images/projects/project-1.jpg"
              alt=""
            >
          </figure>
          <div class="project-info">
            <h2 class="project-title">This is a ver vewry long project title</h2>
            <div class="badge-container">
              <span class="badge rounded-pill">Ruby on Rails</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
