<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>My Portfolio</h1>
        <div class="sub">
          <h2>A collection of my favorite projects I have worked on recently. I feel great to share them here.</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="filter-container col-md-12">
        <ul class="filter-list">
          <li class="filter">All</li>
          <li class="filter">Ruby on Rails</li>
          <li class="filter">JavaScript</li>
          <li class="filter">C++</li>
        </ul>
      </div>
    </div>
  </div>
</section>
