<section class="section-common banner-section-one d-flex flex-column" id="home">
  <div class="banner-mobile-image d-lg-none d-block">
    <%= image_tag "me2.jpg", alt: "Me" %>
  </div>
  <div class="banner-one-content">
    <div class="banner-one-circle">
      <div class="circle-text-common circle-text-area">
        <%= image_tag "icons/rails2-icon.png", alt: "Rails" %>
        <p id="CircleTypeText1" class="circle-text">Ruby On Rails Developer•</p>
      </div>
    </div>

    <span class="subtitle">Hello, I'm</span>
    <h2 class="title my-name">Dipen <span class="title-padding">Chauhan</span></h2>
    <p class="description">I'm a web and software developer. In the past I have worked as a Software Tester and Ruby on Rails Developer</p>
    <a href="#portfolio" class="eg-btn btn--primary btn--lg">View My Work</a>
    <a href="#hire-me" class="ms-4 eg-btn btn--primary-three btn--lg">Hire Me</a>
  </div>
</section>
