<section class="section-common contact-section pt-120 pb-120" id="hire-me">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">Get In Touch</div>
      <h2>Get In Touch</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-12 col-lg-12">
      <form class="contact-me-form">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-inner">
              <input type="text" placeholder="Enter your name" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-inner">
              <input type="text" placeholder="Enter your email" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <input type="text" placeholder="Subject" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-inner">
              <textarea rows="6" placeholder="Write Your message"></textarea>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="eg-btn btn--primary btn--lg">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
