<%= link_to project.url, class: "col-md-6 col-lg-4 project-container", target: "_blank" do %>
  <figure>
    <%# TODO: image_tag %>
    <% if project.image.persisted? %>
      <%= image_tag(project.image) %>
    <% else %>
      <img src="https://designshack.net/wp-content/uploads/placeholder-image.png">
    <% end %>
  </figure>
  <div class="project-info">
    <h2 class="project-title"><%= project.title %></h2>
    <div class="badge-container">
      <span class="badge rounded-pill">Ruby on Rails</span>
    </div>
  </div>
  <div class="project-description">
    <%= project.description %>
  </div>
<% end %>
