<section class="portfolio-page">
  <div class="container">

    <div class="row">
      <div class="title">
        <h1>Edit Project</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <%= render "form", project: @project %>
      </div>
      <div class="col-md-6 mt-3">
        <figure>
          <% if @project.image.persisted? %>
            <%= image_tag @project.image, class: "w-100" %>
          <% else %>
            <%= image_tag "placeholder.webp", class: "w-100" %>
          <% end %>
        </figure>
      </div>

      <div>
        <%= link_to "Back to projects", projects_path %>
      </div>
    </div>
  </div>
</section>
