<section class="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>My Portfolio</h1>
        <div class="sub">
          <h2>A collection of my favorite projects I have worked on recently. I
            feel great to share them here.</h2>
        </div>
      </div>

    </div>

    <%= link_to "Add New Project", new_project_path, class: "btn btn-primary" %>

    <p style="color: green"><%= notice %></p>
    <ul class="filter-list">
      <li class="filter active">All</li>
      <li class="filter">Ruby on Rails</li>
      <li class="filter">JavaScript</li>
      <li class="filter">C++</li>
    </ul>

    <div class="porfolio-gallery">
      <div class="row">
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </div>
    </div>
  </div>
</section>
