@font-face {
    font-family: "La Belle Aurore";
    src: url('la_belle_aurore-webfont.woff2') format('woff2'),
         url('la_belle_aurore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 400;
    src: local('Coolvetica'), url('coolvetica_rg.woff') format('woff');
}
