<section class="section-common pt-120 pb-120 category-page">
  <div class="row">
    <div class="section-title-three text-center">
      <div class="water-text">New Category</div>
      <h2>New Category</h2>
    </div>
  </div>
  <%= render "form", category: @category %>
</section>
