<footer>
  <button onclick="returnToTop()" id="return-to-top" class="btn btn-light" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="Scroll to top">
    <i class='bx bx-up-arrow-alt bx-md'></i>
  </button>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright">Copyright <%= Date.today.year %> • <a href="https://github.com/overdrivemachines">Dipen Chauhan</a></div>
      </div>
    </div>
  </div>
</footer>
