<header class="header-area style-1">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="header-logo">
      <a href="index.html"><img alt="Logo" class="img-fluid" src="assets/images/icons/logo.png" /></a>
    </div>

    <div class="sidebar-button mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
