<nav id="navbar">
  <a href="#" class="logo">
    <%= image_tag("logo.png") %>
  </a>
  <ul class="main-list">
    <li>
      <a href="#" class="active"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-user"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-briefcase"></i></a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
  </ul>
  <ul class="profile-list">
    <li>
      <a href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-codepen"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-skype"></i></a>
    </li>
  </ul>
</nav>
